# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Data-Persistence-Project.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\workspaceUnity\Data-Persistence-Project\.idea\.idea.Data-Persistence-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
